.dialog-header{
    text-align: center;
    position: relative;
    padding: 15px;
    
    h2{
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        color: #3e3d40;
        padding:0 40px;
    }
   
 }
