.dialog-header{
    text-align: center;
    position: relative;
    padding: 5px 0;
    
    h2{
        font-family:Avenir;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
    }
   
 }
