
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Open menue</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>

      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item >
        <span>sub menu item 1</span>
      </button>

      <button mat-menu-item>
        <span>sub menu item 2</span>
      </button>

      <button mat-menu-item>
        <span>sub menu item 3</span>
      </button>
    </mat-menu>

