<div class="main-header">
  <h1>EUP Doctors components</h1>
  <p>
      Angular Material comprises a range of components which implement common interaction patterns according to the
      Material Design specification.
  </p>
</div>
<div class="alternative">

  <h2>EUP Doctors Buttons</h2>
  <mat-card class="card">

      <div class="inner-card-wrapper">
          <div class="item">
              <eup-button [buttonText]="'eup button'"></eup-button>
          </div>
          <div class="item">
                  <eup-cancel-button [buttonText]="'eup cancel button'"></eup-cancel-button>
              </div>
          <div class="item">
              <mat-radio-group aria-label="Select an option">
                  <eup-radio-button [buttonText]="'eup radio 1'"></eup-radio-button>
                  <eup-radio-button [buttonText]="'eup radio 2'"></eup-radio-button>
              </mat-radio-group>
          </div>
          <div class="item">
              <dr-checkbox class="dr-checkbox" [buttonText]="'Dr checkbox'"></dr-checkbox>
          </div>

      </div>

  </mat-card>
  <h2>EUP Doctors Dialog</h2>

  <mat-card class="card">
      <eup-button [buttonText]="'Open Dialog'" (click)="openDialog()"></eup-button>
  </mat-card>

  
  <h2>Mat Tooltip</h2>
  <mat-card class="card">
      <eup-button [buttonText]="'eup button'" matTooltipPosition="right"  matTooltip="Info about the action"
          aria-label="Button that displays a tooltip when focused or hovered over">
          Action
      </eup-button>
  </mat-card>

  <h2>EUP Doctors Table</h2>
  <table mat-table [dataSource]="rxList">


  <ng-container matColumnDef="selectColumn">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="doctorColumn">
    <th mat-header-cell *matHeaderCellDef> Doctor </th>
    <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
  </ng-container>


      <ng-container matColumnDef="companyColumn">
          <th mat-header-cell *matHeaderCellDef> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.companyId}} </td>
      </ng-container>

      <ng-container matColumnDef="caseTypeDescriptionColumn">
          <th mat-header-cell *matHeaderCellDef> Case Type Description </th>
          <td mat-cell *matCellDef="let element"> {{element.caseTypeDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="dateUpdatedColumn">
          <th mat-header-cell *matHeaderCellDef> Date Updated </th>
          <td mat-cell *matCellDef="let element"> {{element.dateUpdated}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
