
<dr-dialog-header [dialogTitle] = "'dialog modal for doctors'" [closeDialogHandler]="closeDialog"> </dr-dialog-header>

<mat-dialog-content class="mat-typography">
  <h3>This is a Doctor dialog modal look & feel</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

</mat-dialog-content>
<div class="eup-dialog-footer">
  <mat-dialog-actions>
      <div class="footer-item">
          <dr-cancel-button  [buttonText]="'Cancel'" [clickHandler]="closeDialog" ></dr-cancel-button>
        </div>
        <div class="footer-item">
          <dr-button  [buttonText]="'OK'" [clickHandler]="closeDialog"></dr-button>
        </div>
   
  </mat-dialog-actions>
</div>
