


  <div>
    <h1>Material Design layouts</h1>
    <h2>Material Design layouts encourage consistency across platforms, environments, and screen sizes by using uniform elements and spacing.</h2>
  </div>
  <mat-grid-list cols="5" rowHeight="100px" gutterSize="0.5em">

    <mat-grid-tile  colspan="4" style= "background: #999">1</mat-grid-tile>
    <mat-grid-tile  colspan="1" rowspan="2" style= "background: #777">2</mat-grid-tile>
    <mat-grid-tile  colspan="3" style= "background: #555">3</mat-grid-tile>
    <mat-grid-tile   colspan="1"style= "background: #333">4</mat-grid-tile>

</mat-grid-list>
