.close-simbol {
    position: absolute;
    left: 15px;
    opacity: 1;
    transform: translateY(-50%);
    top: calc(50% - 4px);
    outline: 0;
    font-size:2.5em;
    color: #ace1f5;
    &:hover{
        opacity: 1;
        color: #ace1f5;
        -webkit-filter: brightness(.97);
        filter: brightness(.97);
    }
}