.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.spacer{
  flex: 1 1 auto;
}
.link{
  color:#fff;
  font-size: 14px;
  font-weight: normal;
  margin:0 10px;
  &:hover{
    opacity: 0.8;
  }
  .menu{
    color:#fff;
    &:hover{
      opacity: 0.8;
    }
  }
}
