<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"><span class="menu" routerLink="/">Menu</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/intro">Intro</a>
      <a mat-list-item routerLink="/layouts">layouts</a>
      <a mat-list-item routerLink="/basic-components">Basic components</a>
      <a mat-list-item routerLink="/themes-arcitecture">Themes arcitecture</a>
      <a mat-list-item routerLink="/eup-components">Eup basic components</a>
      <a mat-list-item routerLink="/playground">Playground</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Eup Components framework & style guide</span>
      <span class="spacer"></span>
      <a class="link" href="https://material.angular.io/" target="_blank"><img src="{{materialLogo}}" width="35px"/>Angular Material</a>
      <a class="link" href="https://wiki.aligntech.com/display/RDITGCADENT/UI+components" target="_blank">EUP Components Wiki</a>
      <a class="link" href="https://github.com/danyk2099/eup-ui-components/tree/basiccomponents" target="_blank"><img src="{{imageUrl}}" width="25px"/> Our repository </a>
     
     
    </mat-toolbar>
    <ng-content>
     
    </ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
