h3{
    color:#fff;
    padding:10px;
}
h1{
    color:#3f51b5;
}
h2{
    color:#555;
  }

.main-header,
.card{
    margin-bottom:50px
}

.blocks{
    min-height:50px;
}
.flex-container{
    height:500px;
}
.side-nav{
    background:#e69264;
}
.header{
    background:#64c2e6;
}
.section1{
    background:#90ee93;
}
.section2{
    background:#58a65b;
}
.section3{
    background:#c7eec8;
}
.aside{
    background:#f6c127;
}
.footer{
    background:#051f3b;
}