<h1><span>Oops,</span> something went almost fine</h1>
<mat-card class="card">
  <div class="item">
    <img src="/assets/images/CaptureSearch1.png" />
  </div>
</mat-card>
<mat-card class="card">
  <div class="item">
      <img src="/assets/images/CaptureSearch2.png"/>
    </div>
  </mat-card>
  <mat-card class="card clearfix">
    <div class="item float-left">
        <img src="/assets/images/Capture3.png" />
     </div>
     <div class="item float-left">
        <img src="/assets/images/Capture4.png"/>
    </div>
    <div class="item">
        <img src="/assets/images/Capture6.png"/>
    </div>
    </mat-card>
    <mat-card class="card">
      <div class="item">
          <img src="/assets/images/Capture5.png"/>
      </div>
</mat-card>
