
.md-spacing{
    margin:0 20px;
    outline: none;
}
.main-header,
.card{
    margin-bottom: 50px
}
.item{
    margin:0 50px 0 0;
}
eup-radio-button{
    margin:0 10px 0 0;
}
.inner-card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.myClass {.mat-dialog-content{
    background: red;
    font-size: 25px;
}}
