
<div class="main-header">
    <h1>Components and Material Design for Angular</h1>
</div>



<mat-card>
    <h2>The goal of Angular Material and the CDK</h2>
    <p>Our goal is to build a set of high-quality UI components built with Angular and TypeScript. These include foundational components and services, found in the CDK, and components that follow the Material Design spec. These components serve as an example of how to build Angular UI components that follow best practices.</p>
    <h3>What do we mean by "high-quality"?</h3>
    <ul>
        <li>Internationalized and accessible so that all users can use them.</li>
        <li>Straightforward APIs that don't confuse developers.</li>
        <li>Behave as expected across a wide variety of use-cases without bugs.</li>
        <li>Behavior is well-tested with both unit and integration tests.</li>
        <li>Customizable within the bounds of the Material Design specification.</li>
        <li>Performance cost is minimized.</li>
        <li>Code is clean and well-documented to serve as an example for Angular developers.</li>
    </ul>
    <h3>Browser and screen reader support</h3>
    <p>Angular Material supports the most recent two versions of all major browsers: Chrome (including Android), Firefox, Safari (including iOS), and IE11 / Edge.</p>
    <p>We aim for great user experience with the following screen readers:</p>
    <ul>
        <li>Windows: NVDA and JAWS with IE11 / FF / Chrome.</li>
        <li>macOS: VoiceOver with Safari / Chrome.</li>
        <li>iOS: VoiceOver with Safari</li>
        <li>Android: Android Accessibility Suite (formerly TalkBack) with Chrome.</li>
        <li>Chrome OS: ChromeVox with Chrome.</li>
    </ul>
</mat-card>

