@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
label{
    margin-bottom: 0;
}

table {
  width: 100%;
}
.myClass {
  .mat-dialog-container{
  position: relative;
  mat-dialog-content{
    margin:60px 0 20px 0 ;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto
  }
  
  .mat-dialog-actions{
    justify-content: flex-end;
  }
  .mat-toolbar {
    .menu{
      color: red;
    }
    
  }
  
}
}

.myDrClass{
  .mat-dialog-container{
    border:1px solid black;
    background: #f4f4f5;
}
}