<eup-dialog-header [dialogTitle] = "'New Patient'"> </eup-dialog-header>
<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

</mat-dialog-content>
<div class="eup-dialog-footer">
<mat-dialog-actions>
  
  <div class="footer-item">
  <eup-cancel-button  [buttonText]="'eup cancel button'" [clickHandler]="closeDialog" ></eup-cancel-button>
</div>
<div class="footer-item">
  <eup-button  [buttonText]="'eup button'" [clickHandler]="closeDialog"></eup-button>
</div>
</mat-dialog-actions>
</div>